@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: ' idroid ' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

body {
    background-color: #31E6AA;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
    margin: auto;
    
}

.p-header {
    color: white;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
}

#ink {
    background-color: #00e68e80;
    color: #338062;
    text-decoration: none;
    padding: 0px 2px;
} 

#dan {
    background-color: #00e68e80;
    color: #338062;
    text-decoration: none;
    padding: 0px 2px;
} 

#irina {
    background-color: #00e68e80;
    color: #338062;
    text-decoration: none;
    padding: 0px 2px;
} 

header {
    background-image: linear-gradient(to bottom, #00E68E, #338062);
    padding: 7px;
}

nav {
    
    margin: 5px;
}

a:hover {
    background-color: #13a55c8c;
    color: rgba(255, 255, 255, 0.74);
    margin: none;
    padding: 10px 5px;
    border-radius: 5px;
}

nav > a {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 14px;
    border: 5px;
    padding: 5px;
}

/* PRINCIPAL */

main {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.411);
    height: auto;
    width: 60%;
    padding: 1px 10px;
    margin: 0px auto;       
}

h2 {
    color: #338062;
    font-size: 2.5em;
    font-family: ' idroid ';
    font-weight: normal;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
    padding: 0px 10px;
}


h3 {
    background-image: linear-gradient(to left, white, #00e68e1c, #00e68e80);
    color: #338062;
    font-size: 2em;
    font-family: ' idroid ';
    font-weight: normal;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
    padding: 0px 10px;
}

.p1 {
    color: black;
    text-decoration: none;
    text-align: justify;
    text-indent: 30px;
    text-shadow: none;
    font-weight: normal;
    font-size: 20px;
    padding: 0px 10px;
}

picture img {
    width: 100%;
    height: 100%; 
    
}

#bugdroid img {
    width: 500px;
    height: 100%;
    justify-content: center;
    
}